* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header {
  background-color: rgb(8, 11, 18, 0.5);
  height: 70px;
  text-align: right;
}

main {
  height: calc(100vh - 100px);
  display: flex;
}

footer {
  background-color: #282828;
  height: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

hr {
  width: 150px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* layout sidebar */

#sidebar {
  width: 200px;
  background-color: #000000;
  height: 100%;
  overflow-y: auto;
  font-size: 10px;
}


.side-logo {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.side-menu {
  width: 30px;
  padding-right: 5px;
}

.side-list {
  font-size: 40px;
  padding-right: 10px;
}

.download-img {
  width: 25px;
  padding-right: 5px;

}

.profile-img {
  background-color: gray;
  border-radius: 50px;
  width: 25px;
  margin-top: 10px;
  margin-right: 5px;
}


/* layout content */

#content {
  height: 100%;
  width: calc(100vw - 200px);
  background-color: #141922;
  overflow-y: auto;
}

#content .content-menu {
  font-size: 12px;
}

#content .content-menu ul {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#content .content-menu ul li {
  padding-right: 15px;
}

#content .content-menu ul li:first-child::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #adff2f;
  margin-left: 24px;
}

.content-box {
  border-radius: 50%;
}

/* layout content header*/

.box {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
}

.box:hover {
  font-size: 15px;
}

/* layout footer*/

.player-controller-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-bar {
  width: 90%;
  background-color: gray;
  height: 6px;
  border-radius: 6px;
  margin: 0 10px;
  position: relative;
}

.elapsed-time {
  position: absolute;
  top: 0;
  left: 0;
  background-color: silver;
  height: 100%;
  width: 20%;
  border-radius: 6px;
}

.controller-point {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: silver;
  border-radius: 50%;
}

.player-controller-time:hover .elapsed-time {
  background-color: #adff2f;
}

.player-controller-time:hover .controller-point {
  display: block;
}

.col-40 .text-white {
  text-align: center;
  padding-top: 20px;
}

.col-40 .text-white i {
  padding-right: 15px;

}

.col-30 .col-30 i {
  color: white;
  padding-right: 10px;
}



/* utility */

.bg-black {
  background-color: #000000;
}

.text-center {
  text-align: center;
}

.justify-end {
  justify-content: flex-end;
}

.text-white {
  color: white;
}

.text-grey {
  color: #a3a3a3;
}

.text-size-14 {
  font-size: 12px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.position-relative {
  position: relative;
}

.absolute-john {
  position: absolute;
  bottom: 100px;
}

.borderleft-green {
  border-left: 4px solid #adff2f;
}

.col-20 {
  width: calc(100% / 6 - 5px);
  color: #a3a3a3;
}

.col-20 img {
  width: 100%;
}

.col-25 {
  width: 20%;
}

.col-25 img {
  width: 80%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100%;
}