* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(8, 11, 18, 0.5);
  height: 70px;
  text-align: right;
}

main {
  height: calc(100vh - 100px);
  display: flex;
}

footer {
  background-color: #282828;
  height: 100px;
}

hr {
  width: 210px;
}

/* layout sidebar */

#sidebar {
  width: 250px;
  background-color: #000000;
  height: 100%;
  font-weight: bold;
  overflow-y: auto;
}

#sidebar ul {
  list-style-type: none;
}

.side-logo {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.side-menu {
  width: 30px;
  padding-right: 5px;
}

.side-list {
  font-size: 40px;
  padding-right: 10px;
}

.download-img {
  width: 25px;
  padding-right: 5px;

}

.profile-img {
  background-color: gray;
  border-radius: 50px;
  width: 25px;
  margin-top: 10px;
  margin-right: 5px;
}


/* layout content */

#content {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: #141922;
}

/* layout content header*/

header a {
  text-decoration: none;
}

.box {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20%;
}

/* utility */

.bg-black {
  background-color: #000000;
}

.text-white {
  color: white;
}

.text-grey {
  color: #a3a3a3;
}

.text-size-14 {
  font-size: 12px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.pl-20 {
  padding-left: 20px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-50 {
  margin-top: 50px;
}

.position-relative {
  position: relative;
}

.absolute-john {
  position: absolute;
  bottom: 100px;
}